{% extends 'base.html' %}


{% block head %}


    <title>Sign Up | User </title>
    <style>
        .custom-card {
   /* background-color: white; */
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 40px;
  margin-top: 30px;
  box-shadow: 10px 10px 10px 10px #888888;
  background: linear-gradient(-90deg, rgba(255, 255, 92, 1) 0%, rgba(255, 255, 92, 1) 34%, rgba(234, 231, 225, 1) 79%);
   
}

label {
   margin-top: 10px;
}

input {
   margin-top: 10px;
   
}

</style>    

{% endblock %}



{% block body %}

    <h1 style="text-align: center; margin-top: 20px;">Sign up | User</h1>

    <div>
        {% for message in messages %}
        <h3 style="color: red;">{{ message }}</h3>
        {% endfor %}
    </div>

    <div class="custom-card">
        <form action="{% url 'sign_up_user' %}" method="post">
            {% csrf_token %}
            <label for="first_name">User Name</label> <br>
            <input type="text" name="first_name" id="first_name" required> <br>
    
            <label for="mobile_number">Mobile Nubmer</label> <br>
            <input type="text" name="mobile_number" id="mobile_number" required> <br>
    
            <label for="password">Password</label> <br>
            <input type="password" name="password" id="password" min="10" max="10" required> <br>
    
            
    
            <label for="pincode">Pincode</label> <br>
            <input type="text" name="pincode" id="pincode" min="6" max="6" required> <br>
            
    
            
            
            <input type="submit"  type="submit" class="btn btn-warning" style="width: 100%;background-color : rgb(121, 225, 92)" value="Sign up">
    </form>
    </div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
    navItems = document.querySelectorAll(".nav-item");
    for (let i = 0; i < navItems.length; i++) {
        navItems[i].style.display = "none"
    }

    document.querySelector(".navbar-brand").setAttribute("href", "/")
})
</script>   

{% endblock %}